In [1]:
import pandas as pd

In [6]:
data = pd.read_stata('../data/external/ZA6647_v1-0-0.dta')

In [7]:
data.head()

,studyno,doi,version,edition,survey,caseid,uniqid,tnscntry,country,isocntry,...,w82,w84,w89,w90,w95,w96,w97,w83,w98,wex
0,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),1,1000001,BELGIQUE,BE - Belgium,BE,...,0.0,0.0,0.377414,0.0,0.399552,0.0,0.419225,0.0,0.0,6446.127930
1,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),2,1000002,BELGIQUE,BE - Belgium,BE,...,0.0,0.0,0.398224,0.0,0.421584,0.0,0.442341,0.0,0.0,6801.566895
2,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),3,1000003,BELGIQUE,BE - Belgium,BE,...,0.0,0.0,0.203295,0.0,0.215220,0.0,0.225817,0.0,0.0,3472.228516
3,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),4,1000004,BELGIQUE,BE - Belgium,BE,...,0.0,0.0,0.313204,0.0,0.331576,0.0,0.347902,0.0,0.0,5349.446777
4,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),5,1000005,BELGIQUE,BE - Belgium,BE,...,0.0,0.0,0.384786,0.0,0.407357,0.0,0.427415,0.0,0.0,6572.049805

In [8]:
# Index auslesen
data.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            26591, 26592, 26593, 26594, 26595, 26596, 26597, 26598, 26599,
            26600],
           dtype='int64', length=26601)

In [12]:
# Spalten auslesen
data.columns

Index(['studyno', 'doi', 'version', 'edition', 'survey', 'caseid', 'uniqid',
       'tnscntry', 'country', 'isocntry',
       ...
       'w82', 'w84', 'w89', 'w90', 'w95', 'w96', 'w97', 'w83', 'w98', 'wex'],
      dtype='object', length=165)

In [13]:
# Spalten auslesen bessere Lesbarkeit
list(data.columns)

['studyno',
 'doi',
 'version',
 'edition',
 'survey',
 'caseid',
 'uniqid',
 'tnscntry',
 'country',
 'isocntry',
 'mode',
 'q1_1',
 'q1_2',
 'q1_3',
 'q1_4',
 'q1_5',
 'q1_6',
 'q1_7',
 'q2_1',
 'q2_2',
 'q2_3',
 'q2_4',
 'q2_5',
 'q2_6',
 'q2_7',
 'q2_8',
 'q3',
 'q4',
 'q5',
 'q6',
 'q7',
 'q8',
 'd1',
 'd1r1',
 'd1r2',
 'd2',
 'd3a_1',
 'd3a_2',
 'd3a_3',
 'd3a_4',
 'd3a_5',
 'd3a_6',
 'd3a_7',
 'd3a_8',
 'd3a_9',
 'd3a_10',
 'd3a_11',
 'd3a_12',
 'd3a_13',
 'd3a_14',
 'd3a_15',
 'd3a_16',
 'd3a_17',
 'd3a_18',
 'd3a_19',
 'd3a_20',
 'd3a_21',
 'd3a_22',
 'd3a_23',
 'd3a_24',
 'd3a_25',
 'd3a_26',
 'd3a_27',
 'd3a_28',
 'd3a_98',
 'd3a_99',
 'd3b',
 'd4',
 'd4r1',
 'd4r2',
 'd5',
 'd5r',
 'd13',
 'd18',
 'd20',
 'd18_d20',
 'd22',
 'd22r',
 'd12be',
 'd12be_r',
 'd12at',
 'd12at_r',
 'd12bg',
 'd12cy',
 'd12cz',
 'd12dk',
 'd12ee',
 'd12de',
 'd12gr',
 'd12gr_r',
 'd12es',
 'd12es_r',
 'd12fi',
 'd12fr',
 'd12fr_r',
 'd12gb',
 'd12hu',
 'd12ie',
 'd12it',
 'd12it_r',
 'd12lt',
 'd12lu',
 'd12lv',
 'd12nl',
 'd12nl_r',
 'd12pl',
 'd12pl_r',
 'd12pt',
 'd12ro',
 'd12se',
 'd12si',
 'd12sk',
 'd12mt',
 'd12hr',
 'eu6',
 'eu9',
 'eu10',
 'eu12_2',
 'eu_nms3',
 'eu15',
 'eu_nms10',
 'eu25',
 'eu_nms12',
 'eu27',
 'eu_nms13',
 'eu28',
 'euroz13',
 'euroz15',
 'euronz15',
 'euroz16',
 'euronz16',
 'euroz17',
 'euronz17',
 'euroz18',
 'euronz18',
 'euronzms',
 'euronznm',
 'euroz19',
 'euronz19',
 'w1',
 'w5',
 'w6',
 'w7',
 'w9',
 'w10',
 'w11',
 'w13',
 'w14',
 'w24',
 'w22',
 'w94',
 'w23',
 'w29',
 'w30',
 'w81',
 'w82',
 'w84',
 'w89',
 'w90',
 'w95',
 'w96',
 'w97',
 'w83',
 'w98',
 'wex']

In [14]:
# Bestimmten Wert auslesen
data.loc[2, 'country']

'BE - Belgium'

In [15]:
# Bestimmten Wert mit numerischer Notation auslesen
data.iloc[2,8]

'BE - Belgium'

In [16]:
# Datentypen der Spalten auslesen
data.dtypes

studyno    category
doi          object
version      object
edition    category
survey     category
             ...
w96         float64
w97         float64
w83         float64
w98         float64
wex         float64
Length: 165, dtype: object

In [17]:
# 5 Zeilen zufällig aus dem DataFrame auswählen
data.sample(5)

,studyno,doi,version,edition,survey,caseid,uniqid,tnscntry,country,isocntry,...,w82,w84,w89,w90,w95,w96,w97,w83,w98,wex
25173,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),25174,42025174,SLOVENIJA,SI - Slovenia,SI,...,0.000000,0.000000,0.257511,0.000000,0.272616,0.000000,0.286039,0.000000,0.000000,4398.215820
18174,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),18175,35018175,MAGYARORSZAG,HU - Hungary,HU,...,1.638508,1.440078,0.000000,1.607205,0.000000,1.475640,0.000000,1.237390,1.354887,21380.603516
1849,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),1850,2001850,DANMARK,DK - Denmark,DK,...,0.219173,0.000000,0.000000,0.214986,0.000000,0.197387,0.000000,0.165518,0.181235,2859.951904
15540,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),15541,32015541,KYPROS,CY - Cyprus (Republic),CY,...,0.000000,0.000000,0.067801,0.000000,0.071778,0.000000,0.075313,0.000000,0.000000,1158.028076
24356,GESIS STUDY ID 6647,doi:10.4232/1.12515,1.0.0 (2016-04-21),ARCHIVE RELEASE,Flash Eurobarometer 425 (September 2015),24357,41024357,SLOVENSKA REPUBLIC,SK - Slovakia,SK,...,0.000000,0.000000,0.161409,0.000000,0.170877,0.000000,0.179291,0.000000,0.000000,2756.826660

In [18]:
# Unerwünschte Spalten definieren und löschen
cols_to_delete = ['studyno', 'doi', 'version', 'edition', 'survey']
data = data.drop(columns=cols_to_delete)
data.sample(5)

,caseid,uniqid,tnscntry,country,isocntry,mode,q1_1,q1_2,q1_3,q1_4,...,w82,w84,w89,w90,w95,w96,w97,w83,w98,wex
7609,7610,9007610,ITALIA,IT - Italy,IT,Mobile phone line,Not mentioned,Not mentioned,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.0,1.939347,0.000000,2.053107,0.000000,2.154197,0.000000,0.000000,33123.546875
4644,4645,6004645,SUOMI,FI - Finland,FI,Mobile phone line,Not mentioned,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.0,0.200278,0.000000,0.212026,0.000000,0.222466,0.000000,0.000000,3420.700439
20058,20059,37020059,LIETUVA,LT - Lithuania,LT,Fixed telephone line,Farmers,Not mentioned,Not mentioned,Not mentioned,...,0.557824,0.0,0.000000,0.547167,0.000000,0.502376,0.473388,0.000000,0.000000,7278.943848
13868,13869,15013869,UK,GB - United Kingdom,GB,Fixed telephone line,Farmers,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,7.124311,0.0,0.000000,6.988205,0.000000,6.416151,0.000000,5.380231,5.891114,92963.890625
11049,11050,13011050,PORTUGAL,PT - Portugal,PT,Fixed telephone line,Farmers,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.0,0.340113,0.000000,0.360064,0.000000,0.377793,0.000000,0.000000,5809.047363

In [19]:
cols_to_rename = {
    'd1': 'age',
    'd2': 'gender',
}
data = data.rename(columns=cols_to_rename)
data.sample(5)

,caseid,uniqid,tnscntry,country,isocntry,mode,q1_1,q1_2,q1_3,q1_4,...,w82,w84,w89,w90,w95,w96,w97,w83,w98,wex
8221,8222,10008222,LUXEMBOURG,LU - Luxembourg,LU,Fixed telephone line,Not mentioned,Not mentioned,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.0,0.028708,0.000000,0.030392,0.00000,0.031888,0.000000,0.000000,490.321014
6698,6699,8006699,IRELAND,IE - Ireland,IE,Fixed telephone line,Farmers,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.0,0.111559,0.000000,0.118103,0.00000,0.123918,0.000000,0.000000,1905.406128
25495,25496,42025496,SLOVENIJA,SI - Slovenia,SI,Fixed telephone line,Not mentioned,Not mentioned,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.0,0.033513,0.000000,0.035478,0.00000,0.037225,0.000000,0.000000,572.386169
11143,11144,13011144,PORTUGAL,PT - Portugal,PT,Fixed telephone line,Farmers,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.0,0.407588,0.000000,0.431497,0.00000,0.452743,0.000000,0.000000,6961.501953
14413,14414,15014414,UK,GB - United Kingdom,GB,Fixed telephone line,Farmers,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,8.376597,0.0,0.000000,8.216568,0.000000,7.54396,0.000000,6.325949,6.926633,109304.757812

In [20]:
data.sample(10)

,caseid,uniqid,tnscntry,country,isocntry,mode,q1_1,q1_2,q1_3,q1_4,...,w82,w84,w89,w90,w95,w96,w97,w83,w98,wex
8951,8952,11008952,NEDERLAND,NL - The Netherlands,NL,Fixed telephone line,Not mentioned,Food manufacturers,Not mentioned,Not mentioned,...,0.000000,0.000000,2.382976,0.000000,2.522759,0.000000,2.646974,0.000000,0.000000,40700.621094
17880,17881,34017881,EESTI,EE - Estonia,EE,Fixed telephone line,Farmers,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.029498,0.000000,0.022536,0.000000,0.023858,0.000000,0.025033,0.000000,0.000000,384.912231
5910,5911,7005911,FRANCE,FR - France,FR,Fixed telephone line,Farmers,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.000000,5.377200,0.000000,5.692622,0.000000,5.972913,0.000000,0.000000,91841.210938
15030,15031,31015031,BALGARIJA,BG - Bulgaria,BG,Fixed telephone line,Not mentioned,Not mentioned,Shops and retailers,no Hospitality and food service sectors,...,0.299301,0.263054,0.000000,0.293583,0.000000,0.269550,0.000000,0.226030,0.247493,3905.526611
12622,12623,3012623,DEUTSCHLAND,DE - Germany,DE,Fixed telephone line,Not mentioned,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.000000,2.660488,0.000000,2.816550,0.000000,2.955230,0.000000,0.000000,45440.453125
3986,3987,5003987,ESPANA,ES -Spain,ES,Fixed telephone line,Not mentioned,Food manufacturers,Not mentioned,no Hospitality and food service sectors,...,0.000000,0.000000,2.369598,0.000000,2.508597,0.000000,2.632114,0.000000,0.000000,40472.132812
9921,9922,12009922,ÖSTERREICH,AT - Austria,AT,Fixed telephone line,Not mentioned,Not mentioned,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.000000,0.353662,0.000000,0.374407,0.000000,0.392842,0.000000,0.000000,6040.449219
467,468,1000468,BELGIQUE,BE - Belgium,BE,Mobile phone line,Not mentioned,Food manufacturers,Shops and retailers,no Hospitality and food service sectors,...,0.000000,0.000000,0.843141,0.000000,0.892599,0.000000,0.936549,0.000000,0.000000,14400.638672
2577,2578,4002578,ELLADA,GR - Greece,GR,Fixed telephone line,Not mentioned,Not mentioned,Not mentioned,Not mentioned,...,0.000000,0.000000,0.570128,0.000000,0.603572,0.000000,0.633290,0.000000,0.000000,9737.649414
18088,18089,35018089,MAGYARORSZAG,HU - Hungary,HU,Mobile phone line,Not mentioned,Not mentioned,Not mentioned,Not mentioned,...,0.276740,0.243226,0.000000,0.271453,0.000000,0.249232,0.000000,0.208992,0.228837,3611.134521